main {
    background: $white;
}

.blog-header {
    .header-image {
        background: url(../assets/blog-image-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        position: relative;
    }
}

header i {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 4rem;
    color: $black;
    visibility: hidden;
}

.blog-flex-parent {
    display: flex;
    width: 100%;
}

aside {
    width: 35%;
}

.blog-content {
    width: 99%;
    background: white;
    flex-direction: column;
}

.sections-flex-parent {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-top: 70px;
}

.about-sophie-blog,
.recent-posts {
    background: white;
    padding: 25px;
    height: 100%;
}


.about-sophie-blog {
    margin: 70px 20px 20px 0;

    h3 {
        font-size: 1.8rem;
        margin: 20px 0 10px 0;
    }
}

.about-sophie-blog a {
    color: $blog-link;
    font-weight: bold;
}

.recent-posts {
    margin-right: 20px;

    h3 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    li:before {
        content: "·";
        font-size: 25px;
        vertical-align: middle;
        line-height: 20px;
        padding-right: 20px;
        color: $primary-color;
    }

    li a {
        font-size: 1.5rem;
        color: $black;
    }

    li a:hover,
    li a:focus {
        color: $primary-color;
    }
}

.blog-content {
    padding: 30px;
    box-shadow: 0 5px 0 $primary-color;
    margin-bottom: 30px;

    h2 {
        font-size: 2rem;
    }
    .date-author {
        margin: 10px 0;
        font-style: italic;

        a {
            color: $blog-link;
            font-weight: bold;
        }
    }

    p {
        margin-bottom: 10px;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.comment {
    background: white;
    margin-bottom:10px;
    padding: 25px;
    width: 99%;

    h4 {
        font-size: 1.5rem;
        text-transform: none;
        color: $blog-link;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 0.6px;
        margin-bottom: 10px;
    }

    .comment-image-container {
        max-width: 80px;
        margin-right: 20px;
    }
}

.comment-flex-parent {
    display: flex;
    width: 99%;
}

.last-comment {
        box-shadow: 0 5px 0 $primary-color;
        margin-bottom: 30px;
    }

.comment-button {
    color: $black;
    background: $accent-color;
    padding: 20px;
    display: block;
    text-align: center;
    width: 99%;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 3.2px;
    font-weight: 700;
    border: 1px solid $accent-color;
    margin: 10px 0 70px 0;
}

.comment-button:hover, 
.comment-button:focus {
    background: white;
    border: 1px solid $accent-color;
}

.visually-hidden:not(:focus):not(:active) { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

// Media queries 

@media (max-width:768px) {
    .subpage-h1 {
        bottom: 0px;
        margin-top: -14px;
        position: relative;
    }

    .blog-header .header-image {
        height: 20vh;
    }
}

@media (max-width:375px) {
    aside {
     width: 100%;
    }   

    .blog-flex-parent {
        width: 90%;
        flex-direction: column-reverse;
    }

    .about-sophie-blog {
        margin: 0;
    }

    .comment-button {
        margin-bottom: 20px;
    }

    .about-sophie-blog,
    .recent-posts {
        margin-bottom: 20px;
    }

    .recent-posts {
        margin-right: 0;
    }

}

