main {
    background: $white;
}

.contact-header {
    .header-image {
        background: url(../assets/contact-image-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 60vh;
        position: relative;
    }
}

.subpage-h1 {
    font-family: 'Lora', serif;
    font-size: 6rem;
    text-transform: uppercase;
    // margin-top: -50px;
    margin-left: 100px;
    position: absolute;
    bottom: 166px;
}

.contact-flex-parent {
    display: flex;
    width: 100%;
}

.contact-aside ul {
    display: flex;

    li a {
    color: $primary-color;
    margin-right: 20px;
    }
}

.contact-info p:first-child {
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    margin: 10px 0;
}

.contact-form {
    margin-top: 70px;
}

input::placeholder {
    font-size: 1.6rem;
    font-style: italic;
}

.contact-aside {
    width: 25%;
    height: 40%;
    background: white;
    margin: 70px 30px 0px 0px;
    padding: 30px;
}

.contact-form {
    width: 80%;
}

#name,
#email {
    border: white;
    padding: 20px 20px;
    // margin: 10px 5px;
    width: 49%;
}

#message {
    border: white;
    width: 99%;
    height: 300px;
    margin-top: 10px;
}

.contact-button {
    color: $black;
    background: $accent-color;
    padding: 20px;
    display: block;
    text-align: center;
    width: 99%;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 3.2px;
    font-weight: 700;
    border: $accent-color;
    margin: 10px 0 70px 0;
}