// Colours
$primary-color: #F6A823;
$accent-color: #05AFC1;
$black: #2C2C2C;
$white: #F0EFED;
$grey: #4F4F4F;

// note: I realize it's not best practice to name by the color, but because this is setting specific black/white/grey values I've kept it simple

$blog-link: #285E64;
$shadow-color: #A82706;